*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 350px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.score{
    text-align: right;
    color: blue;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: bold;
}
.question{
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 10px;
}
input{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
button{
    width: 90%;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
}