*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(154, 199, 238, 0.596);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: white;
    border-radius: 8px; 
    width: 400px; 
    text-align: center;
}
.header{
    background-color: rgb(193, 148, 235);
    border-radius: 8px 8px 0 0;
    color: rgb(19, 13, 13);
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 10px;
}
label{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;

}
input{
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 3px;
}
#output{
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 800;
}