*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.container-counter{
    height:300px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0,0,10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}
.container-counter span{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}
.container-counter .counter{
    font-size: 4rem;
    font-weight: bold;
    color: #000;
}