.clockContainer{
    /* background-color: red; */
    background: url(clock.png) no-repeat;
    height:40vw ;
    width:40vw ;
    background-size: 100%;
    margin: auto;
    position: relative;
}
.hourhand,.minutehand,.secondhand{

    position: absolute;
    background: black;
    border-radius:10px;
    transform-origin: bottom;
}
.hourhand{
    height: 25%;
    width: 1.8%;
    top: 25%;
    left: 48.8%;
    opacity: 0.8;
    

}
.minutehand{
    height: 30%;
    width: 1.6%;
    top: 19%;
    left: 48.8%;
    opacity: 0.8;
}
.secondhand{
    height: 40%;
    width: 1%;
    top: 9%;
    left: 49.5%;
    opacity: 0.8;
}