*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-between;
}
.xpos,.ypos{
    width: 300px;
    border: 3px solid black;
    margin: 40px;
    border-radius:5px;
    padding: 20px;
    font-size: 1.5rem;
    /* font-weight: bold; */
    text-align: center;
    position: relative;

}
h4{
    position: absolute;
    top: -40%;
    left: 20%;
}
#xpos-value,#ypos-value{
    font-size: 3.5rem;
    font-weight: bold;
}