*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: white;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-sizing: 0 0 10px 0 rgba(0,0,0,0.5);
}
.header{
    padding: 10px;
    background-color: blue;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.timer{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
button{
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;

}
#start{
    background-color: blue;
}
#stop{
    background-color: red;
}
#reset{
    background-color: green;
}