*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(57, 119, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(255, 255, 255);

}
.header{
    background-color: rgb(193, 223, 249);
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1rem;
    color: rgb(86, 43, 226);
}
.next-year{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(86, 43, 226);
    margin-bottom: 10px;
}
.counter{
    display: flex;
    justify-content: space-around;
    background-color: rgb(193, 223, 249);
    color:rgb(86, 43, 226) ;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}